body{
background-image: url("https://static1.squarespace.com/static/554e5f41e4b03722d385c049/t/595467058419c25e0949c3c6/1498703646193/");
background-repeat: no-repeat;
background-image: center;
background-size: cover;
}
