body{
background-image: url("https://media1.giphy.com/media/VMVpwj0jtCEYo/giphy.gif");
background-repeat: no-repeat;
background-image: center;
background-size: cover;

}

h1{
  font-family: "impact";
  color:red;
  text-decoration: underline;

}

p{
  color:yellow;
}

.translate{
  margin-right: 75vw;
  margin-top: 20vw;
}
Form{
   text-align: center;
}
